.errorWrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorTitle {
  color: #ff6060;
  font-weight: 700;
  font-size: 288px;
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.errorSubtitle {
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  padding-bottom: 50px;
  text-align: center;
}

.linkToHome {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  display: flex;
  padding-top: 80px;
  padding-bottom: 150px;
  text-decoration-line: underline;
}

@media screen and (max-width: 600px) {
  .errorTitle {
    font-size: 96px;
    margin-top: 180px;
    margin-bottom: 0px;
  }
  .errorSubtitle {
    font-size: 18px;
    margin-top: 0px;
    line-height: 26px;
  }
  .linkToHome {
    font-size: 14px;
    padding-bottom: 235px;
  }
}
