.aboutCollapse {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 100%;
}

.housingCollapse {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 47%;
}

.collapseButton {
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 0px;
  height: 50px;
}

.collapseContent {
  background-color: #f7f7f7;
  border-radius: 0px 0px 5px 5px;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 20px 0px;
  min-height: 249px;
}

@media screen and (max-width: 425px) {
  .collapseButton {
    font-size: 13px;
    height: auto;
  }
  .collapseContent {
    font-size: 12px;
    min-height: 143px;
  }
  .housingCollapse {
    width: 100%;
    margin-bottom: 20px;
  }
}
