.navContainer {
  max-width: 1240px;
  margin: auto;
  padding: 40px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  margin: 0;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.styledLink {
  padding: 10px 15px;
  color: #ff6060;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  text-align: rigth;
}

@media screen and (max-width: 856px) {
  .logo {
    width: 145px;
    height: 47px;
  }
  .styledLink {
    font-size: 12px;
    padding: 5px;
    text-transform: uppercase;
  }
  .navContainer {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 340px) {
  .logo {
    width: 100px;
    height: 30px;
  }
}
