.slideContainer {
  position: relative;
  width: 1240px;
}

.slidePicture {
  border-radius: 25px;
  object-fit: cover;
  max-height: 415px;
  width: 100%;
  user-select: none;
}

.chevronLeft {
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 3rem;
  color: white;
  z-index: 2;
}

.chevronRight {
  position: absolute;
  top: 45%;
  right: 5%;
  font-size: 3rem;
  color: white;
  z-index: 2;
}

.bulletPoints {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 5%;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 1280px) {
  .slideContainer {
    width: 1240px;
  }
}

@media screen and (max-width: 1279px) {
  .slideContainer {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .slidePicture {
    border-radius: 10px;
  }
  .chevronLeft,
  .chevronRight {
    font-size: 2rem;
  }
  .bulletPoints {
    font-size: 14px;
  }
}
